body {
  margin: 0;
  padding: 0;

  color: #ffffff;
  background-color: #849d8f;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
}

img {
  max-width: 100%;
  height: auto;
}

.main-navigation {
  color: #ffffff;
}

.dropdown {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
}

.timeline {
  font-size: 14px;
  line-height: 16px;
}

.phone {
  font-size: 22px;
  line-height: 24px;
}

.site-navigation,
.user-navigation,
.user-search,
.basket {
  list-style: none;
}

.site-navigation a {
  display: block;

  padding: 20px 15px;

  color: #ffffff;
}

.dropdown {
  display: flex
}

.user-search a,
.user-navigation a,
.basket a {
  display: block;

  padding: 22px 10px;

  color: #ffffff;
}

.user-navigation .search-link {
  position: relative;

  opacity: 0.2;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
}

.search-link::before {
  position: absolute;
  top: 30px;
  left: 2px;

  width: 18px;
  height: 21px;

  content: "";

  opacity: 0.2;
  background-image: url("../img/loupe.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.search-link:hover::before,
.search-link:focus::before,
.search-link:active::before {
  opacity: 1;
  background-image: url("../img/entrance.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}


.user-navigation .login-link {
  position: relative;

  padding-left: 20px;

  opacity: 0.2;
  border-radius: 20%;
  background-color: rgb(255, 255, 255);
}

.login-link::before {
  position: absolute;
  top: 30px;
  left: 19px;

  width: 23px;
  height: 23px;

  content: "";

  opacity: 0.2;
  background-image: url("../img/entrance.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.login-link:hover::before,
.login-link:focus::before,
.login-link:active::before {
  opacity: 1;
  background-image: url("../img/entrance.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.site-navigation a:hover,
.dropdown a:hover {
  color: #000000;
  background-color: #f7e7e2;
}

.site-navigation a:focus,
.dropdown a:focus {
  color: #000000;
  background-color: #ebccc2;
}

.banner h3 {
  margin: 18px 20px;

  font-size: 35px;
  line-height: 41px;
}

.banner p {
  margin: 0 20px;

  background-repeat: no-repeat;
  background-position: 0 0;

  font-size: 18px;
  line-height: 22px;
}

.razz {
  box-sizing: border-box;

  background-image: url("../img/razz.jpg");
}


.choco {
  box-sizing: border-box;

  background-image: url("../img/choco.jpg");
}

.catalog-list {
  list-style: none;
}

.catalog-list p {
  font-size: 45px;
  line-height: 45px;
	}

.catalog-list span {
  font-size: 30px;
  line-height: 45px;
}

.catalog-list a {
  color: #ffffff;

  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}

.catalog-item a:hover,
.catalog-item a:focus {
  color: #ffbc9e;
}
/* background-color? */

.catalog-item img {
  border-radius: 135px;
}

.info-page {
  padding: 10px;

  color: #000000;
  background-image: url("../img/wafer.jpg");
  background-position: 0 0;

  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

.info-page ul {
  list-style: none;
}

.info-page h3 {
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;

}

.index-columns {
  color: #000000;

  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

.index-columns a {
  color: #000000;

  font-size: 24px;
  line-height: 30px;
}

.article {
  padding: 10px;

  background-image: url("../img/strawberry.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.dispatch {
  border-radius: 25px;
  background-image: url("../img/bg-post.svg");
}

.dispatch-wrapper {
  padding: 10px;

  border-radius: 25px;
  background-color: #ecebea;
}

.contact-info {
  color: #000000;

  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.contact {
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;
}

.main-footer {
  font-size: 13px;
  font-weight: 400;
  line-height: 28px;
}

.footer-socials ul {
  list-style: none;
}

.footer-socials ul {
  list-style: none;
}

.provider {
  font-weight: 700;
}

.main-footer a {
  color: #ffffff;
}

/* сделано в Академии, класс? р*/

.modal-feedback {
  color: #999999;
  background-color: #f8f7f4;

  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}

.modal-feedback h2 {
  color: #000000;

  font-weight: 500;
}

.catalog-page h1 {
  font-size: 35px;
  line-height: 42px;
}

.breadcrumbs {
  list-style: none;
}

.breadcrumbs a {
  color: #ffffff;
}

.filter fieldset {
  border: none;
}

.filters {
  outline-style: none;
}

.filters {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
}

.filters label {
  font-size: 16px;
  line-height: 18px;
}

.filters ul {
  list-style: none;
}

.catalog-item img {
  border-radius: 135px;
}

.main-footer ul {
  list-style: none;
}

.pagination-list {
  list-style: none;
}

.pagination-item a {
  color: #000000;
  background-color: #ffffff;
}

.pagination-item a:hover,
.pagination-item a:focus,
.pagination-item a:active {
  color: #ffffff;
  background-color: #ffffff ;
}

.pagination-item-current a {
  color: #000000;
  background-color: #ffffff;
}

.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
  color: #000000;
  background-color: #ffffff;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  overflow: hidden;
  clip: rect(0 0 0 0);

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  white-space: nowrap;

  border: 0;

  clip-path: inset(100%);
}

.site-wrapper {
  min-width: 940px;
  margin-bottom: 40px;

  transition: background-image 0.5s ease, background-color 0.5s ease;

  background-image: url("../img/ice1.png");
  background-repeat: no-repeat;
  background-position: top center;
}

.site-wrapper::before,
.site-wrapper::after {
  visibility: hidden;

  content: "";
}

.site-wrapper::before {
  background-image: url("../img/ice2.png");
}

.site-wrapper::after {
  background-image: url("../img/ice3.png");
}

.container {
  width: 1146px;
  margin: 0 auto;
  padding: 0 27px;
}

.main-navigation {
  display: flex;
  justify-content: space-between;
}

.main-header {
  padding: 10px 0;

  outline: 1px solid #ffffff;
}

.main-navigation .main-navigation-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  width: 565px;
}

.main-navigation .main-navigation-wrapper  {
width: 585px;
display: flex;
justify-content: space-between;
align-items: flex-start;


}
.main-header-logo {
  width: 154px;
  height: 64px;

  outline: 1px solid #111111;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;

  width: 400px;
  min-height: 65px;
  margin: 0;
  padding: 0;

  outline: 1px solid red;
}

.wrapper {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

.dropdown {
display: flex;

  width: 270px;
  min-height: 65px;
  margin: 0;
  padding: 0;

  outline: 1px solid yellow;
}

.timeline {
  width: 170px;
  min-height: 45px;
  margin: 0;
  padding: 0;

  outline: 1px solid #222222;
}

.slide-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 27px;

  font-size: 60px;
  line-height: 60.35px;
}

.slider {
  position: relative;

  padding-top: 205px;
  padding-bottom: 49px;

  text-align: center;
}

.slider-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slide {
  display: none;
}



.button {
  display: inline-block;

  padding: 11px 24px;

  cursor: pointer;
  text-align: center;
  vertical-align: top;
  text-decoration: none;

  color: #ffffff;
  border: none;
  border-radius: 50px;
  background: #f26843;
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  font-size: 18px;
  font-weight: 700;
  line-height: 24px;

}

.button:hover {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.button:active {
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.slider-button {
  padding: 12px 44px;

  font-size: 32px;
  line-height: 44px;
}
.slider-controls label {
  display: inline-block;

  width: 17px;
  height: 17px;
  margin-right: 8px;

  cursor: pointer;
  vertical-align: top;

  border: 2px solid #ffffff;
  border-radius: 50%;
  background-color: transparent;
}

.slider-controls {
  position: absolute;
  z-index: 20;
  bottom: 63px;
  left: 0;

  font-size: 0;
}

#switch1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/ice1.png");
}

#switch2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/ice2.png");
}

#switch3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/ice3.png");
}

#switch1:checked ~ .site-wrapper #slide1,
#switch2:checked ~ .site-wrapper #slide2,
#switch3:checked ~ .site-wrapper #slide3 {
  display: block;
}

#switch1:checked ~ .site-wrapper label[for="switch1"],
#switch2:checked ~ .site-wrapper label[for="switch2"],
#switch3:checked ~ .site-wrapper label[for="switch3"] {
  background-color: #ffffff;
}



.banner {
  position: relative;

  display: flex;
  justify-content: space-between;

  min-height: 230px;
  margin-bottom: 39px;

}

.banner-button {
  position: absolute;

  box-sizing: border-box;
  min-width: 170px;
  margin: 0;


}
.razz,
.choco {
  width: 560px;

  border-radius: 15px;
}

.banner-button-razz {
  top: 159px;
  left: 370px;
}

.banner-button-choco {
  top: 159px;
  right: 19px;
}


.popular {
  margin-bottom: 40px;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  min-height: 325px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.catalog-item {
  width: 270px;
  margin: 20px auto;
}

.info-page {
  min-height: 305px;
  margin-bottom: 40px;

  border-radius: 25px;
}

.index-columns {
  display: flex;
  justify-content: space-between;

  min-height: 220px;
  margin-bottom: 40px;
  min-height: 220px;
}

.article,
.dispatch {
  width: 560px;
  border-radius: 20px;
}

.main-footer {
  margin-top: 20px;
}

.nain-footer .container {
  display: flex;
}

.footer-socials {
  width: 190px;
  margin: 0;
  margin-right: 200px;
}

.general-info {
  width: 330px;
  margin: 0;
}

.footer-author {
  width: 190px;
  margin: 0;
  margin-left: auto;
}

.inner-page .main-header {
  margin-bottom: 55px;
}

.inner-page .main-navigation {
  align-items: flex-start;
  flex-direction: row;
}

.inner-page .dropdown {
  margin-left: auto;
}

.catalog-page {
  margin: 0;
  margin-bottom: 35px;
  padding: 0;
}

.breadcrumbs {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
}

.filters {
  width: 880px;
  min-height: 150px;
  outline: 1px solid #222222;
}

.catalog {
  width: 1147px;
  min-height: 1120px;
}

.inner-page .catalog-list {
  margin-bottom: 100px;
}


.catalog-item {
  margin-bottom: 40px;
} /* на главной ? */

.catalog-item:nth-child(4n) {
  margin-right: 0;
}

.inner-page .main-footer {
  margin-top: 40px;
}
