body {
  margin: 0;
  padding: 0;

  color: #ffffff;
  background-color: #849d8f;

  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
}

img {
  max-width: 100%;
  height: auto;
}



.main-navigation {
  color: #ffffff;
}

.dropdown {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
}

.timeline {
  font-size: 14px;
  line-height: 16px;
}

.phone {
  font-size: 22px;
  line-height: 24px;
}

.site-navigation
 {
  list-style: none;
}

.site-navigation a {
  display: block;

  padding: 20px 15px;

  color: #ffffff;
}

.dropdown {
  display: flex
}

.user-search a,
.user-navigation a,
.basket a {
  display: block;

  padding: 22px 10px;

  color: #ffffff;
}

.user-navigation .search-link {
  position: relative;

  opacity: 0.2;
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
}

.search-link::before {
  position: absolute;
  top: 30px;
  left: 2px;

  width: 18px;
  height: 21px;

  content: "";

  opacity: 0.2;
  background-image: url("../img/loupe.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.search-link:hover::before,
.search-link:focus::before,
.search-link:active::before {
  opacity: 1;
  background-image: url("../img/entrance.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}


.user-navigation .login-link {
  position: relative;

  padding-left: 20px;

  opacity: 0.2;
  border-radius: 20%;
  background-color: rgb(255, 255, 255);
}

.login-link::before {
  position: absolute;
  top: 30px;
  left: 19px;

  width: 23px;
  height: 23px;

  content: "";

  opacity: 0.2;
  background-image: url("../img/entrance.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.login-link:hover::before,
.login-link:focus::before,
.login-link:active::before {
  opacity: 1;
  background-image: url("../img/entrance.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.site-navigation a:hover,
.dropdown a:hover {
  color: #000000;
  background-color: #f7e7e2;
}

.site-navigation a:focus,
.dropdown a:focus {
  color: #000000;
  background-color: #ebccc2;
}

.banner h3 {
  margin: 18px 20px;

  font-size: 35px;
  line-height: 41px;
}

.banner p {
  margin: 0 20px;

  background-repeat: no-repeat;
  background-position: 0 0;

  font-size: 18px;
  line-height: 22px;
}

.razz {
  box-sizing: border-box;

  background-image: url("../img/razz.jpg");
}


.choco {
  box-sizing: border-box;

  background-image: url("../img/choco.jpg");
}

.catalog-list {
  position: relative;

  display: flex;

  margin-bottom: 40px;

  list-style: none;

}

.catalog-list p {
  font-size: 45px;
  line-height: 45px;
	}

.catalog-list span {
  font-size: 30px;
  line-height: 45px;
}

.catalog-list a {
  display: inline-block;

  width: 100%;

  vertical-align: auto;

  color: #ffffff;

  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
}

.catalog-item {
  position: relative;

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;

  width: 22.2%;
  margin-bottom: 34px;

  text-align: center;
}

.catalog-item-cost {
  align-self: flex-start;

  margin-top: -58px;
  margin-bottom: 34px;

  white-space: nowrap;

  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}

.catalog-item-hit {
  position: absolute;
  top: 0;
  left: 0;

  width: 61px;
  height: 61px;

  background: url("../img/hit.svg");
}

.catalog-item a:hover,
.catalog-item a:focus {
  color: #ffbc9e;
}
/* background-color? */

.catalog-item img {
  border-radius: 135px;

}

.info-page {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;

  margin-right: 2.3%;
  margin-bottom: 40px;
  margin-left: 2.3%;
  padding: 18px;

  color: #000000;
  background-image: url("../img/wafer.jpg");
  background-position: 0 0;

  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}


.info-page h3 {
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;

}

.info-page-item {
  position: relative;

  width: 41.5%;
  margin-bottom: 4px;
  margin-left: 58px;

  color: rgb( 50, 50, 50);
}

.info-page-item::before {
  position: absolute;
  top: -10px;
  left: -56px;

  display: block;

  width: 49px;
  height: 49px;

  content: "";

  border-radius: 50px;
}

.info-page-item:nth-of-type(1)::before {
  background-image: url("../img/ice-cream.svg");
}

.info-page-item:nth-of-type(2)::before {
  background-image: url("../img/cow.svg");
}

.info-page-item:nth-of-type(3)::before {
  background-image: url("../img/eco.svg");
}

.info-page-item:nth-of-type(4)::before {
  background-image: url("../img/thermometer.svg");
}

.index-columns {
  color: #000000;

  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
}

.index-columns a {
  color: #000000;

  font-size: 24px;
  line-height: 30px;
}

.article {
  padding: 10px;

  background-image: url("../img/strawberry.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.dispatch {
  border-radius: 25px;
  background-image: url("../img/bg-post.svg");
}

.dispatch p {
  margin-top: 10px;
  margin-bottom: 35px;
}

.dispatch-wrapper {
  padding: 20px;

  border-radius: 25px;
  background-color: #ecebea;
}



.contact-info {
  position: relative;

  display: flex;
  flex-flow: column nowrap;

  color: #000000;

  font-size: 14px;
  font-weight: 400;
  line-height: 20px;

}

.contacts {
  position: absolute;
  top: 63px;
  right: 28px;

  display: flex;
  align-self: center;
  flex-flow: column nowrap;
  justify-content: space-between;

  width: 306px;
  height: 303px;
  padding: 28px 25px;

  border-radius: 15px;
  background-color: white;
}

.contact {
  font-size: 18px;
  font-weight: 700;
  line-height: 22px;

}

.main-footer .container {
  display: flex;
  align-items: center;
  align-self: stretch;
  flex-flow: row;
  justify-content: space-between;

  min-height: 100px;
  padding-top: 10px;

  font-size: 13px;
  font-weight: 400;
  line-height: 28px;
}

.footer-socials {
  display: flex;

  margin: 0;
  padding: 0;

  list-style: none;
}

.socials {
  display: block;

  margin-right: 11px;
}

.socials a {
  display: block;

  width: 32px;
  height: 32px;
  margin: 3px;

  opacity: 0.8;
  border: none;
  border-radius: 32px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 32px 32px;
  box-shadow: 0 0 0 3px rgba( 255, 255, 255, 0.5);
}

.socials a[href*="twitter.com"] {
  background-image: url("../img/twitter.svg");
}

.socials a[href*="instagram.com"] {
  background-image: url("../img/instagram.svg");
}

.socials a[href*="facebook.com"] {
  background-image: url("../img/fb.svg");
}

.socials a[href*="vk.com"] {
  background-image: url("../img/vk.svg");
}

.socials a:hover {
  opacity: 1;
  box-shadow: 0 0 0 3px rgba( 255, 255, 255, 0.7);
}

.socials a:active {
  opacity: 0.8;
  box-shadow: 0 0 0 3px rgba( 255, 255, 255, 0.7);
}

.general-info {
  display: flex;
  align-content: center;
  flex-flow: row wrap;
  justify-content: space-between;

  width: 330px;
  height: 50px;
  margin: 0;
  margin: 0;
  margin-left: 30px;
  padding: 0;

  list-style: none;
}

.general-info-item {
  position: relative;

  display: inline-flex;

  margin-right: 32px;
}

.general-info-item:first-child::before {
  position: absolute;
  top: 2px;
  left: -24px;

  display: block;

  width: 19px;
  height: 19px;

  content: "";

  background-image: url("../img/heart.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 15px 13px;
}

.provider {
  font-weight: 700;
}

.main-footer a {
  color: #ffffff;
}

.footer-author {
  width: 210px;
  margin: 0;
  margin-top: 0;
  margin-bottom: 14px;
  margin-left: auto;

  color: white;
}

.modal-feedback {
  position: fixed;
  top: 338px;
  left: 50%;
  margin-left: -235px;
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
  width: 480x;
  padding: 16px 25px;
  color: #999999;
  background-color: #f8f7f4;
  border-radius: 10px;
  height: 444px;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;

  display: none;
}

.modal-close {
  position: absolute;
  top: 15px;
  right: 17px;
  width: 22px;
  height: 22px;
  font-size: 0;
  border: 0;
  cursor: pointer;
}

.modal-close::before,
.modal-close::after {
  content: "";
  position: absolute;
  top: 10px;
 left: 2px;

  width: 19px;
  height: 3px;
  background-color: #000000;
}

.modal-close::before {
  transform: rotate(45deg);
  }

.modal-close::after {
  transform: rotate(-45deg);
}

.modal-feedback h2 {
  color: #000000;
  font-size: 24px;
  line-height: 28px;

  font-weight: 500;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
}

.feedback p {
  margin: 0;
  margin-bottom: 20px;
}

.feedback input[type="text"],
.fledback input[type="email"] {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color:#999999;
  box-sizing: border-box;
  width: 267px;
  padding: 12px 16px;
  border-radius: 5px;
  border: 1px solid #999999;

}

.feedback-textarea {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color:#999999;
  box-sizing: border-box;
  padding: 12px 16px;
  border-radius: 5px;
  border: 1px solid #999999;
}

.feedback input:focus {
  border-color: rgb(46, 136, 228);
}

.feedback-botton {
  position: absolute;
  top: 372px;
  right: 25px;
}

.catalog-page h1 {
  font-size: 35px;
  line-height: 42px;
}

.breadcrumbs {
  list-style: none;
}

.breadcrumbs a {
  color: #ffffff;
}

.filter fieldset {
  border: none;
}

.filters {
  outline-style: none;
}

.filters {
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
}

.filters label {
  font-size: 16px;
  line-height: 18px;
}

.filters ul {
  list-style: none;
}

.catalog-item img {
  border-radius: 135px;
}

.main-footer ul {
  list-style: none;
}

.pagination-list {
  list-style: none;
}

.pagination-item a {
  color: #000000;
  background-color: #ffffff;
}

.pagination-item a:hover,
.pagination-item a:focus,
.pagination-item a:active {
  color: #ffffff;
  background-color: #ffffff ;
}

.pagination-item-current a {
  color: #000000;
  background-color: #ffffff;
}

.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
  color: #000000;
  background-color: #ffffff;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  overflow: hidden;
  clip: rect(0 0 0 0);

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  white-space: nowrap;

  border: 0;

  clip-path: inset(100%);
}

.site-wrapper {
  min-width: 940px;
  margin-bottom: 40px;

  transition: background-image 0.5s ease, background-color 0.5s ease;

  background-image: url("../img/ice1.png");
  background-repeat: no-repeat;
  background-position: top center;
}

.site-wrapper::before,
.site-wrapper::after {
  visibility: hidden;

  content: "";
}

.site-wrapper::before {
  background-image: url("../img/ice2.png");
}

.site-wrapper::after {
  background-image: url("../img/ice3.png");
}

.container {
  width: 1146px;
  margin: 0 auto;
  padding: 0 27px;
}

.main-navigation {
  display: flex;
  justify-content: space-between;
}

.main-header {
  padding: 10px 0;

  outline: 1px solid #ffffff;
}

.main-navigation .main-navigation-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  width: 565px;
}

.main-navigation .main-navigation-wrapper  {
display: flex;
align-items: flex-start;
justify-content: space-between;

width: 585px;


}
.main-header-logo {
  width: 154px;
  height: 64px;

  outline: 1px solid #111111;
}

.site-navigation {
  display: flex;
  flex-wrap: wrap;

  width: 400px;
  min-height: 65px;
  margin: 0;
  padding: 0;

  outline: 1px solid red;
}

.wrapper {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

.dropdown {
  width: 270px;
  min-height: 65px;
 margin: 0;
  margin: 0;
 padding: 0;
  padding: 0;

  outline: 1px solid yellow;
}

.dropdown-item {
  position: relative;

  height: 32px;
  margin-left: 9px;
  padding: 8px 16px;

  list-style: none;

  color: white;
  border: none;
  border-radius: 40px;
  background-color: rgba(255, 255, 255, 0.2);

}


.timeline {
  width: 170px;
  min-height: 45px;
  margin: 0;
  padding: 0;

  outline: 1px solid #222222;
}

.slide-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 27px;

  font-size: 60px;
  line-height: 60.35px;
}

.slider {
  position: relative;

  padding-top: 205px;
  padding-bottom: 49px;

  text-align: center;
}

.slider-list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.slide {
  display: none;
}



.button {
  display: inline-block;

  padding: 11px 24px;

  cursor: pointer;
  text-align: center;
  vertical-align: top;
  text-decoration: none;

  color: #ffffff;
  border: none;
  border-radius: 50px;
  background: #f26843;
  background: linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);

  font-size: 18px;
  font-weight: 700;
  line-height: 24px;

}

.button:hover {
  background: linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}

.button:active {
  background: linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}

.slider-button {
  padding: 12px 44px;

  font-size: 32px;
  line-height: 44px;
}
.slider-controls label {
  display: inline-block;

  width: 17px;
  height: 17px;
  margin-right: 8px;

  cursor: pointer;
  vertical-align: top;

  border: 2px solid #ffffff;
  border-radius: 50%;
  background-color: transparent;
}

.slider-controls {
  position: absolute;
  z-index: 20;
  bottom: 63px;
  left: 0;

  font-size: 0;
}

#switch1:checked ~ .site-wrapper {
  background-color: #849d8f;
  background-image: url("../img/ice1.png");
}

#switch2:checked ~ .site-wrapper {
  background-color: #8996a6;
  background-image: url("../img/ice2.png");
}

#switch3:checked ~ .site-wrapper {
  background-color: #9d8b84;
  background-image: url("../img/ice3.png");
}

#switch1:checked ~ .site-wrapper #slide1,
#switch2:checked ~ .site-wrapper #slide2,
#switch3:checked ~ .site-wrapper #slide3 {
  display: block;
}

#switch1:checked ~ .site-wrapper label[for="switch1"],
#switch2:checked ~ .site-wrapper label[for="switch2"],
#switch3:checked ~ .site-wrapper label[for="switch3"] {
  background-color: #ffffff;
}



.banner {
  position: relative;

  display: flex;
  justify-content: space-between;

  min-height: 230px;
  margin-bottom: 39px;

}

.banner-button {
  position: absolute;

  box-sizing: border-box;
  min-width: 170px;
  margin: 0;


}
.razz,
.choco {
  width: 560px;

  border-radius: 15px;
}

.banner-button-razz {
  top: 159px;
  left: 370px;
}

.banner-button-choco {
  top: 159px;
  right: 19px;
}


.popular {
  margin-bottom: 40px;
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  min-height: 325px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.catalog-item {
  width: 270px;
  margin: 20px auto;
}

.info-page {
  min-height: 305px;
  margin-bottom: 40px;

  border-radius: 25px;
}

.index-columns {
  position: relative;

  display: flex;
  justify-content: space-between;

  min-height: 220px;
  min-height: 220px;
  margin-bottom: 40px;
}

.article,
.dispatch {
  width: 560px;

  border-radius: 20px;
}

.article .article-link {
  display: block;

  max-width: 55%;
  margin-top: 5px;

  color: #323232;

  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
}

.article .article-link:hover {
  color: #e84d37;

  font-weight: bold;
}

.dispatch-form {
  display: flex;
  flex-flow: row nowrap;
}

.dispatch-form .field-text {
  -ms-flex-preferred-size: 100%;

  width: 100%;
  margin-right: 10px;
}

.dispatch-form .field-text-input {
  width: 100%;
}

.dispatch-botton {
  position: absolute;
  top: 137px;
  right: 28px;
}


.main-footer {
  margin-top: 20px;
}

.nain-footer .container {
  display: flex;
}

.footer-socials {
  width: 190px;
  margin: 0;
  margin-right: 200px;
}


.inner-page .main-header {
  margin-bottom: 55px;
}

.inner-page .main-navigation {
  align-items: flex-start;
  flex-direction: row;
}

.inner-page .dropdown {
  margin-left: auto;
}

.catalog-page {
  margin: 0;
  margin-bottom: 35px;
  padding: 0;
}

.breadcrumbs {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
}

.filters {
  width: 880px;
  min-height: 150px;

  outline: 1px solid #222222;
}

.catalog {
  width: 1147px;
  min-height: 1120px;
}

.inner-page .catalog-list {
  margin-bottom: 100px;
}


.catalog-item {
  margin-bottom: 40px;
} /* на главной ? */

.catalog-item:nth-child(4n) {
  margin-right: 0;
}

.inner-page .main-footer {
  margin-top: 40px;
}

